@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

.about-background{
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, #f5f3ef, #fcc5c5);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.about-background h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    padding-top: 200px;
    color: #1a1a1a;
}

.about-background p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #1a1a1a;
}